---

- name: check that required variables are defined and non-empty
  assert:
    that:
      - letsencrypt_domain|default(false,true)
      - letsencrypt_account_key_path|default(false,true)
      - letsencrypt_key_path|default(false,true)
      - letsencrypt_csr_path|default(false,true)
      - letsencrypt_csr_subj|default(false,true)
      - letsencrypt_crt_path|default(false,true)
      - letsencrypt_challenge_type|default(false,true)
      - letsencrypt_notify_fulfill|default(false,true)
      - letsencrypt_notify_completed|default(false,true)
    msg: one or more required variables are empty

- name: generate letsencrypt account key if needed
  command: openssl genrsa -out {{ letsencrypt_account_key_path | quote }} {{ letsencrypt_key_options }}
  args:
    creates: "{{ letsencrypt_account_key_path }}"

- name: generate letsencrypt private key if needed
  command: openssl genrsa -out {{ letsencrypt_key_path | quote }} {{ letsencrypt_key_options }}
  args:
    creates: "{{ letsencrypt_key_path }}"

- name: generate letsencrypt csr if needed
  command: openssl req -out {{ letsencrypt_csr_path | quote }} -key {{ letsencrypt_key_path | quote }}  -subj {{ letsencrypt_csr_subj | quote }} -new
  args:
    creates: "{{ letsencrypt_csr_path }}"

- name: check existing certificate and generate challenge
  action:
    module: "{{ letsencrypt_module }}"
    account_key: "{{ letsencrypt_account_key_path }}"
    csr: "{{ letsencrypt_csr_path }}"
    dest: "{{ letsencrypt_crt_path }}"
    challenge: "{{ letsencrypt_challenge_type }}"
    account_email: "{{ letsencrypt_account_email | default(omit, true) }}"
    acme_directory: "{{ letsencrypt_acme_directory | default(omit, true) }}"
    agreement: "{{ letsencrypt_agreement | default(omit, true) }}"
  register: letsencrypt_challenge
  notify: "{{ letsencrypt_notify_fulfill }}"

- name: flush handlers in order to fulfill letsencrypt challenge
  meta: flush_handlers

- name: check result of fulfilling challenge and update certificate
  action:
    module: "{{ letsencrypt_module }}"
    account_key: "{{ letsencrypt_account_key_path }}"
    csr: "{{ letsencrypt_csr_path }}"
    dest: "{{ letsencrypt_crt_path }}"
    challenge: "{{ letsencrypt_challenge_type }}"
    account_email: "{{ letsencrypt_account_email | default(omit, true) }}"
    acme_directory: "{{ letsencrypt_acme_directory | default(omit, true) }}"
    agreement: "{{ letsencrypt_agreement | default(omit, true) }}"
    data: "{{ letsencrypt_challenge }}"
  when: letsencrypt_challenge is changed
  notify: "{{ letsencrypt_notify_completed }}"
